h1{
    color: aqua;
    text-align: center;
}

h2{
    text-align: center;
}

body{
    background-color: black;
    color: aliceblue;
}

div{
    text-align: center;
    width: 470px;
    height: 60px;
    background-color: -moz-linear-gradient(rgb(0, 255, 195), rgb(white));
}
button{
    width: 470px;
    height: 60px;
    align-items: center;
    text-align: center;
    background-color: -moz-linear-gradient(rgb(0, 0, 0), rgb(150, 150, 150));
}
.btn{
    text-align: center;
    width: 470px;
    height: 60px;
    background-color: -moz-linear-gradient(rgb(0, 0, 0), rgb(150, 150, 150));
}
